.App {
  height: 100vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

footer {
  position: relative;
  height: 180px;
  width: 100%;
  background: url("./assets/images/HolandHop.svg");
  background-size: cover;
  position: absolute;
  bottom: 0;
}

.animation-container {
  width: 100%;
  position: relative;
}
.vector-div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* graphic animation */
@keyframes vectorAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(1.05);
    opacity: 0.89;
  }
  60% {
    transform: scale(0.94);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* animation */
p {
  background: linear-gradient(
    90deg,
    rgba(255, 96, 0, 0.3) -22.6%,
    rgba(255, 96, 0, 0.21) -12.93%,
    #ff6000 -4.24%,
    rgba(255, 96, 0, 0.6) 19.42%,
    rgba(255, 96, 0, 0.5) 26.66%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 3s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
